/* PAGINATION */

.pagination {
  > li > a {
    background: #fafafa;
    color: #666;
  }
  &.pagination-flat > li > a {
    border-radius: 0 !important;
  }
}

/*
 * Component: Label
 * ----------------
 */

.label-default {
  background-color: #d2d6de;
  color: #444;
}


/*
 * Component: Users List
 * ---------------------
 */

.users-list > li {
  width: 25%;
  float: left;
  padding: 10px;
  text-align: center;
  img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
  }
  > a:hover {
    color: #999;
    .users-list-name {
      color: #999;
    }
  }
}

.users-list-name, .users-list-date {
  display: block;
}

.users-list-name {
  font-weight: 600;
  color: #444;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.users-list-date {
  color: #999;
  font-size: 12px;
}


/*
 * Component: modal
 * ----------------
 */

.modal {
  background: rgba(0, 0, 0, 0.3);
}

.modal-content {
  border-radius: 0;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  border: 0;
}

@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  }
}

.modal-header {
  border-bottom-color: #f4f4f4;
}

.modal-footer {
  border-top-color: #f4f4f4;
}

.modal-primary {
  .modal-header, .modal-footer {
    border-color: #307095;
  }
}

.modal-warning {
  .modal-header, .modal-footer {
    border-color: #c87f0a;
  }
}

.modal-info {
  .modal-header, .modal-footer {
    border-color: #0097bc;
  }
}

.modal-success {
  .modal-header, .modal-footer {
    border-color: #00733e;
  }
}

.modal-danger {
  .modal-header, .modal-footer {
    border-color: #c23321;
  }
}